[Dd]ebug/
[Rr]elease/
build/
packages/
!packages/**/[Bb]uild
[Bb]in/
[Oo]bj/
.vs/
*.tmp
*.orig
*[Rr]e[Ss]harper.user
_ReSharper.*/
*.suo
*.sln.cache
*.user
node_modules
WcfPad.UI/public/scripts/
**/scripts/ts/**/*.js
**/scripts/ts/**/*.js.map
**/dist/