.loading {
    background-image: url("../images/loading.gif") !important;
    background-repeat: no-repeat !important;
    background-size: 30px 30px !important;
    background-position: center center !important;
}
